<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Properties>
        <Property name="logNm">Spring Log4j2</Property>
        <Property name="layoutPattern">%d{hh:mm:ss} %5p [%c] %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="${layoutPattern}"/>
        </Console>
        <RollingFile name="File_Appender" fileName="logs/${logNm}.log" filePattern="logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="INFO" additivity="false">
            <AppenderRef ref="Console_Appender"/>
        </Root>
        <Logger name="org.springframework" level="INFO"
                additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>
        <!--하단 name에 본인이 사용하는 package명으로 수정할 것-->
        <Logger name="com.jiwoong" level="INFO" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>

        <Logger name="com.jiwoong.springex.mapper" level="TRACE" additivity="false">
            <AppenderRef ref="Console_Appender" />
        </Logger>
    </Loggers>
</Configuration>
